<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sihuatech.lunchorder">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tab01.MenuActivity"
            android:label="@string/title_activity_tab01" />
        <activity android:name=".Tab01.PersonActivity" />
        <activity
            android:name=".Tab01.RelationActivity"
            android:label="@string/title_activity_relation" />
        <activity
            android:name=".Tab01.RelationSelectActivity"
            android:label="@string/title_activity_relation_select" />
        <activity
            android:name=".Tab01.RelationDetailActivity"
            android:label="@string/title_activity_relation_detail"></activity>
    </application>

</manifest>